!repo!/spareSprit/sprit.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>

<definitions name='sprit' 
	targetNamespace='http://www.sparesprit.de/sprit' 
	xmlns:tns='http://www.sparesprit.de/sprit' 
	xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' 
	xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
	xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
	xmlns='http://schemas.xmlsoap.org/wsdl/' >
	
	<types>
		<xsd:schema >				
			<xsd:import schemaLocation="http://www.sparesprit.de/schema/types.xsd" namespace="http://www.sparesprit.de/sprit"  />
		</xsd:schema>		
	</types>	
  		
  	<!-- ++++ Koordinaten fuer Ortsnamen ++++ -->
  	<message name='getCoordsByTownRequest'>
  		<part name='town' type='xsd:string'/>
	</message>
	
	<message name='getCoordsByTownResponse'>
		<part name='location' type='tns:location'/>
	</message>
	
	<portType name='getCoordsByTownPortType'>
  		<operation name='getCoordsByTown'>
    		<input message='tns:getCoordsByTownRequest'/>
    		<output message='tns:getCoordsByTownResponse'/>
  		</operation>
	</portType>	
	
	<binding name='getCoordsByTownBinding' type='tns:getCoordsByTownPortType'>
  	<soap12:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> <!-- style rpc | document -->
	
  		<operation name='getCoordsByTown'>
    		<soap12:operation soapAction='urn:sprit#getCoordsByTown'/>
    		<input>
      		<soap12:body use='encoded' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</input>
    		<output>
      		<soap12:body use='encoded' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</output>
  		</operation>		
	</binding>		
	<!-- ++++ Ende Koordinaten fuer Ortsnamen ++++ -->
	
	<!-- **** Ortsnamen fuer Koordinaten ****  -->
  	<message name='getTownByCoordsRequest'>
		<part name='location' type='tns:location'/>  		
	</message>
	
	<message name='getTownByCoordsResponse'>
		<part name='town' type='xsd:string'/>
	</message>
	
	<portType name='getTownByCoordsPortType'>
  		<operation name='getTownByCoords'>
    		<input message='tns:getTownByCoordsRequest'/>
    		<output message='tns:getTownByCoordsResponse'/>
  		</operation>
	</portType>	

	<binding name='getTownByCoordsBinding' type='tns:getTownByCoordsPortType'>
  	<soap12:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> <!-- style rpc | document -->
	
  		<operation name='getTownByCoords'>
    		<soap12:operation soapAction='urn:sprit#getTownByCoords'/>
    		<input>
      		<soap12:body use='literal' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</input>
    		<output>
      		<soap12:body use='literal' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</output>
  		</operation>		
	</binding>			
	<!-- ***** Ende Ortsnamen fuer Koordinaten  ***** -->	
	
	<!-- §§§§ Tankstellendaten fuer Koordinaten, Treibstoffart und Sortierung (Preis oder Umkreis)  §§§§ -->
  	<message name='getDataByCoordsRequest'>
		<part name='datarequest' type='tns:datarequest'/>
	</message>
	
	<message name='getDataByCoordsResponse'>
		<part name='petrolstationlist' type='tns:petrolstationlist'/>
	</message>
	
	<portType name='getDataByCoordsPortType'>
  		<operation name='getDataByCoords'>
    		<input message='tns:getDataByCoordsRequest'/>
    		<output message='tns:getDataByCoordsResponse'/>
  		</operation>
	</portType>		
	
	<binding name='getDataByCoordsBinding' type='tns:getDataByCoordsPortType'>
  	<soap12:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> <!-- style rpc | document -->
	
  		<operation name='getDataByCoords'>
    		<soap12:operation soapAction='urn:sprit#getDataByCoords'/>
    		<input>
      		<soap12:body use='encoded' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</input>
    		<output>
      		<soap12:body use='encoded' namespace='http://www.sparesprit.de/sprit'
        			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    		</output>
  		</operation>		
	</binding>			
	<!-- §§§§ Ende Tankstellendaten fuer Koordinaten, Treibstoffart und Sortierung (Preis oder Umkreis)  §§§§ -->
	
	
	<service name='fuelService'>
	<documentation>Returns location, prices and opening times of fuel stations
	</documentation>
  		<port name='getCoordsByTownPort' binding='tns:getCoordsByTownBinding'>
    		<soap12:address location='http://www.sparesprit.de/soapserver.php'/>
  		</port>
		<port name='getTownByCoordsPort' binding='tns:getTownByCoordsBinding'>
    		<soap12:address location='http://www.sparesprit.de/soapserver.php'/>
  		</port>
  		<port name='getDataByCoordsPort' binding='tns:getDataByCoordsBinding'>
    		<soap12:address location='http://www.sparesprit.de/soapserver.php'/>
  		</port>
	</service>
	
</definitions>