!repo!/spareSprit/types.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://www.spareSprit.de/Sprit" 
           targetNamespace="http://www.spareSprit.de/Sprit" > 
	
		<xsd:complexType name="locationType">
		    <xsd:all>
			<xsd:element name="latitude" type="xsd:double" minOccurs="1" maxOccurs="1" />
			<xsd:element name="longitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
		    </xsd:all>
		</xsd:complexType>  
</xsd:schema>